<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
</body>


<div>
  <label>Start-date</label>
  <input id="date-start" type="date">
  <label>End-date</label>
  <input id="date-end" type="date">
  <label>Currency</label>
  <select name="currency" class="currency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="CNY">CNY</option>
    <option value="GBP">GBP</option>
  </select>
</div>
<canvas id="my-chart">
</canvas>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>